# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*   List popular languages for Data Science
*   Identify commonly used libraries for data science
*   Evaluate arithmetic expressions in Python
*   Convert units using Python code
*   Share a Jupyter Notebook on GitHub

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas.
2. Matplotlib.
3. NumPy.

| Data Science Tools|
|-------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

Hours=200//60
Minutes=200%60
print(f"In 200 minuts we have {Hours} Hour and {Minutes} Minutes ")

In 200 minuts we have 3 Hour and 20 Minutes

## Author
Mohamed Anis Madi